@import "colorPalette";
$primary-color-dark:   $blue900;
$primary-color:        $lightBlue900;
$primary-color-light:  $lightBlue600;
$nav-user-active:      $lightBlue800;
$nav-user-hover:       $lightBlueA800;
$primary-color-text:   $white;
$accent-color:         $amber;
$primary-text-color:   $grey900;
$secondary-text-color: $black;
$divider-color:        $grey400;
$table-trback-color:   $grey300;
$table-tr-color:       $grey450;
$aside-bottom-color:   $grey600;
$background-color:     $grey100;
$nav-user:             $blueUserNav;
$main-color:           $grey100;
$grey-shadow:          $grey350;
$headline-color:       $blue150;
$headtriangle-color:   $blue350;
$attention-color:      $grey700;
$aside-a-color:        $greenA300;
$list-border-color:    $greyA100;
$wx-head-color:        $greenA500;
$login-color:          $blue450;
$login-error:          $redA150;
$full:                 $grey999;
$prompt-color:         $redA300;
$enter0-b-color:       $greyA200;
$charted:              $green600;
$pass_check:           $yellowA500;
$paying:               $orangeA500;
$payed:               $greenA339;
$greyB3:               $greyB3;
$jan:#195114;
$feb:#005917;
$mar:#11680D;
$apr:#0C7A38;
$may:#3D993D;
$jun:#46AF46;
$jul:#17BCC9;
$aug:#00ADC4;
$sep:#108EB5;
$oct:#166D99;
$nov:#045699;
$dec:#216E7f;


